<footer class="footer-section">


  <div class="container">

    <div class="footer-cta pt-5 pb-5">

      <div class="grid">

        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>Egypt, Giza, 6th Of October</span>
            </div>
          </div>
        </div>

        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>+201157750695</span>
            </div>
          </div>
        </div>

        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>{{ "kheprx.office@gmail.com" }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer-content pt-5 pb-5">

      <div class="grid justify-content-between">
        <div class="xl:col-4 lg:col-6 mb-50">
          <div class="footer-widget">

            <div class="footer-logo">
              <a>
                <figure class="my-0 mx-2">
                  <img class="w-2rem" src="../../../assets/common/favicon.ico" alt="logo" />
                </figure>
              </a>
            </div>

            <div class="footer-text">
              <p>
                At <strong>KheprX</strong>, we believe in transformation, progress, and
                creating meaningful impact. Inspired by the spirit of positive change, our
                name reflects our mission: to empower businesses and individuals with
                innovative solutions that drive growth and lasting value. We stand for
                resilience, continuous improvement, and the power of technology to reshape
                the future for the better.
              </p>
            </div>

            <div class="footer-social-icon">
              <span>Follow us</span>
              <a><i class="pi pi-facebook"></i></a>
              <a><i class="pi pi-instagram"></i></a>
              <a><i class="pi pi-whatsapp"></i></a>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="copyright-area">
    <div class="container">
      <div class="copyright-text text-center">
        <p>
          Copyright &copy; All Right Reserved
          <span class="text-main fw-bold">KheprX</span>
        </p>
      </div>
    </div>
  </div>


</footer>
